# Runtime dependencies
# Keep package list in alphabetical order
addict
h5py
kornia
kubernetes
numpy>=1.16.6,<=1.26.4
onvif-zeep
open3d-cpu
opencv-python
paho-mqtt
pillow
pycolmap==0.4.0
pyyaml
scipy>=1.4.0
trimesh
torch==2.6.0
torchvision==0.21.0 